services:

  mysql:
    image: mysql:8.0
    command: --authentication_policy=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mypassword
    volumes:
      - ./mysql:/var/lib/mysql

  facturascripts:
    image: facturascripts/facturascripts:latest
    restart: always
    ports:
      - 80:80
    volumes:
      - ./facturascripts:/var/www/html

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
